###############################################################################
# Extends ".gitignore" entries.
###############################################################################

# Specific directories.
**/.husky
**/.wireit

# File patterns.
**/*.drawio
**/*.md
**/*.png
**/*.svg

# Specific file names.
**/.yarnrc.yaml
**/LICENSE
**/yarn.lock
