###############################################################################
# Extends ".gitignore" entries.
###############################################################################

# File patterns.
**/*.drawio
**/*.md
**/*.png
**/*.svg

# Specific file names.
**/.yarnrc.yaml
**/LICENSE
**/yarn.lock
