###############################################################################
# Extends ".gitignore" entries.
###############################################################################

# Specific directories.
**/.changeset
**/.husky
**/.vscode
**/.wireit
**/.yarn/releases

src/systems/dev/backstage

# File patterns.
**/*.drawio
**/*.log
**/*.md
**/*.png
**/*.svg

# Specific file names.
**/.yarnrc.yaml
**/LICENSE
**/yarn.lock
